@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&family=Tektur:wght@600&display=swap');

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
}

.title {
    --color: #00FF9F;
    color: var(--color);
    position: relative;
}

.title::before {
    content: "_____";
    position: absolute;
    top: 8px;
}

.title::after {
    content: "________";
    position: relative;
    top: -12px;
    right: 24px;
    color: transparent;
    font-size: 16px;
    background-color: var(--color);
    opacity: 0.2;
}

.game-btn {
    all: unset;
    display: block;
    --color: #00FF9F;
    width: calc(100% - 24px);
    height: 60px;
    background: #000;
    padding: 0px;
    border: 12px solid transparent;
    display: flex;

    animation: gameBtnOpen 0.5s forwards;
    opacity: 0;
}

.game-btn.g1 {
    animation-delay: 25ms;
}

.game-btn.g2 {
    animation-delay: 50ms;
}

.game-btn.g3 {
    animation-delay: 75ms;
}

.game-btn.g4 {
    animation-delay: 100ms;
}

.game-btn.g5 {
    animation-delay: 125ms;
}

.game-btn .info {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.game-btn .info .game-title {
    margin: 0;
    margin-left: 15px;
    font-size: 22px;
    color: white;
}

@keyframes gameBtnOpen {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }
    100% {
        opacity: 1;
    }
}

.swal2-modal {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0px 0px 12px #D600FF;
}

@keyframes swalScale {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(0);
    }
}

.swal2-modal::before {
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #D600FF;
    box-shadow: 0px 0px 12px #D600FF;
    transform: translateY(-24px) scaleX(0.1);
}

.swal2-modal::after {
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #D600FF;
    box-shadow: 0px 0px 24px #D600FF;
    transform: translateY(48px) scaleX(0.1);
}

.swal2-container {
    background-color: #00000086;
}

.swal2-select {
    border: solid 1px #D600FF !important;
}

.swal2-select option {
    background: black;
}